*{
    background-color: antiquewhite;
}

.img{
   width: 100px;
   height:100px;
}

[draggable]{
    color: blue;
}

[value]{
    color: brown;
}

.header{
    color: chartreuse;
}

.body{
    color: rgb(95, 156, 160);
}

.gift{
    color: rgb(129, 30, 210);
}

[dropzone]{
    color: rgba(132, 0, 255, 0.925)
}
